{% extends "base_index.html" %}
{% block content %}

<div class="card-header sticky-top bg-muted">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-info text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">
<h4 class="text-secondary">
Secure and efficient file sharing via authenticated physical devices remains challenging to
achieve in a cyber-physical environment, particularly due to the diversity of devices used
to access the services and data.<br><br>The proposed protocol is designed to achieve authentication
between a physical device and a controller and to provide a secure end-to-end
communication in the architecture using the IBE scheme.<br><br>Identity-Based Encryption (IBE)
the scheme is a potential cryptographic solution that can be used to facilitate secure data
sharing.<br><br>Thus, in the project, we have construct an identity-based authentic data sharing
(IBADS) protocol to provide data security in a cyber-physical environment.
 </h4>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
