{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  .card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>
<div class="container">
<br>

<div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase text-muted">Administrator Dashboard</h4>
      </div>
    </div>
		<br>

		<div class="row">
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card shadow-sm btn">
          <a class="text-info" style="text-decoration:none;" href="{% url 'manage_user' %}">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
									<i class="bi-person float-left text-info display-3"></i>
                </div>
                <div class="media-body text-right">
                  <h4>Manage Users</h4>
                  <p>Activate, Deactivate or Remove Users</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card shadow-sm btn">
          <a class="text-info" style="text-decoration:none;" href="{% url 'list_user_activity' %}">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="bi-activity float-left text-info display-3"></i>
                </div>
                <div class="media-body text-right">
                  <h4>Monitor User Activity</h4>
                  <p>User Activities</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card shadow-sm btn">
          <a class="text-info" style="text-decoration:none;" href="{% url 'list_user_data' %}">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="bi-files float-left text-info display-3"></i>
                </div>
                <div class="media-body text-right">
                  <h4>User Files</h4>
                  <p>User Uploaded Files</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card shadow-sm btn">
          <a class="text-info" style="text-decoration:none;" href="{% url 'flagged_data' %}">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="bi-file-earmark-check float-left text-info display-3"></i>
                </div>
                <div class="media-body text-right">
                  <h4>Moderate Flagged Files</h4>
                  <p>Review Files</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
		<br>
</div>
<br>
<br>
<br>
{% endblock %}
