{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="card-header sticky-top">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-info text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">

<form class="form-horizontal" method="post">{% csrf_token %}

	<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">

    {% crispy form %}

    </div>
    <button type="submit" class="btn btn-info">Submit</button>
    				</div>
    				</div>
    			</div>

    		</div>
    	</div>
    </div>

</form>
</div>
<br><br><br><br><br><br>

{% endblock %}
