{% extends 'base_index.html' %}
{% block content %}

<style type="text/css">
  .card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);}
</style>
<div class="container">
<br>
<br>
<br>
<br>
<br>
    <div class="row">
      <div class="col-sm-12 text-center align-self-center">
            <p class="text-info" style="letter-spacing: 7px;font-size: 20px;"><b>WELCOME TO IBADS</b></p>
            <h1 class="text-secondary" style="font-size: 64px;"><b>Share Data Securely</b></h1>
            <br><br>
              <a href="{% url 'user_login' %}" class="btn btn-lg btn-outline-info rounded-pill mr-2"><b>&nbsp; Sign In &nbsp;</b></a>
              <a href="{% url 'user_signup' %}" class="btn btn-lg btn-outline-info rounded-pill"><b>&nbsp; Sign Up &nbsp;</b></a> &nbsp;
              <a href="{% url 'about' %}" class="btn btn-lg btn-outline-info rounded-pill"><b>&nbsp; About &nbsp;</b></a>
      </div>
    </div>
		<br>
</div>
<br>
<br>
<br>
{% endblock %}
