{% extends "base.html" %}
{% block content %}

<div class="card-header sticky-top bg-light">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-info text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">
  <div class="card">
    <div class="card-body bg-white">
      <h5 class="text-center text-secondary"><b>Search Files</b></h5>
      <br>
  <form method="get">
        <div class="row">
          <div class="col">
            <div class="form-group">
          <label for="id_title" class="text-secondary"><b>Title</b></label>
          <input class="form-control" id="id_title" type="text" name="title" placeholder="Title">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="id_filename" class="text-secondary"><b>Filename</b></label>
          <input class="form-control" id="id_filename" type="text" name="filename" placeholder="Filename">
        </div>
      </div>
      <div class="col">
            <div class="form-group">
          <label for="id_description" class="text-secondary"><b>Description</b></label>
          <input class="form-control" id="id_description" type="text" name="description" placeholder="Description">
        </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
        <div class="form-group">
          <label for="id_universal" class="text-secondary"><b>File Type</b></label>
          <select class="form-control" id="id_universal" name="universal">
            <option value="" selected>Any</option>
            <option value="Yes">Public</option>
            <option value="No">Private</option>
            </select>
        </div>
      </div>
        <div class="col">
            <div class="form-group">
          <label for="id_user" class="text-secondary"><b>File Owner</b></label>
          <select class="form-control" id="id_user" name="user">
            <option value="" selected>Any</option>
            {% for i in users %}
            {% if i.username != 'admin' %}
            <option value={{i.id}}>{{i.username}}</option>
            {% endif %}
            {% endfor %}
            </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="id_uploaded_at" class="text-secondary"><b>Upload date from</b></label>
          <input class="form-control" id="id_uploaded_at" type="date" name="uploaded_at">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="id_uploaded_at" class="text-secondary"><b>Upload date to</b></label>
          <input class="form-control" id="id_uploaded_at" type="date" name="uploaded_at_1">
        </div>
      </div>
      
    </div>
      <br>
      <button class="btn btn-info btn-md align-middle" type="submit">Search</button>
  </form>
</div>
</div>
<br>
	<table class="table table-bordered bg-white table-hover">
    <thead class="thead-light">
      <tr>
        <th class="text-center align-middle">Title</th>
        <th class="text-center align-middle">Filename</th>
        <th class="text-center align-middle">Description</th>
        <th class="text-center align-middle">File Type</th>
        <th class="text-center align-middle">File Owner</th>
        <th class="text-center align-middle">Upload date</th>
        <th class="text-center align-middle">Expiration date</th>
        <th class="text-center align-middle">Action</th>
      </tr>
    </thead>
  <tbody>
    {% for data in filter %}
      <tr>
        <td>{{ data.title }}</td>
        <td>{{ data.filename }}</td>
        <td>{{ data.description }}</td>
        {% if data.universal == 'Yes' %}
        <td>Public</td>
        {% else %}
        <td>Private</td>
        {% endif %}
        <td>{{ data.user }}</td>
        <td>{{ data.uploaded_at.date }}</td>
        <td>{{ data.expires_on.date }}</td>
        <td class="text-center">
          <a href="/download_data/{{data.data}}"><div class="btn btn-info">Download</div></a>
          <a href="{% url 'delete_data' data.id %}"><div class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</div></a>
        </td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="8">No data</td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>
  <br><br><br>
</div>
{% endblock %}