{% extends "base.html" %}
{% block content %}

<div class="card-header sticky-top bg-light">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-info text-white">&larr; Back</a>
</div>
</div>
<br>
<div class="container">
  <h5>Inactive Users</h5>
    <br>

  <table class="table table-bordered bg-white table-hover">
    <thead class="thead-light">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th class="col-sm-3">Action</th>
      </tr>
    </thead>
  {% for user in users %}
  {% if user.is_active == False %}

  <tbody>
      <tr>
        <td>{{ user.username}}</td>
        <td>{{ user.email}}</td>
        <td class="text-center">
          <a href="{% url 'approve_user' user.id %}"><div class="btn btn-success" onclick="return confirm('Are you sure?');">Activate</div></a>
          <a href="{% url 'delete_user' user.id %}"><div class="btn btn-danger" onclick="return confirm('Are you sure?');">Reject</div></a>
        </td>
      </tr>
    </tbody>
    {% endif %}
  {% endfor %}

  </table>
  <br>
  <h5>Active Users</h5>
    <br>

  <table class="table table-bordered bg-light table-hover">
    <thead class="thead-light">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th class="col-sm-3">Action</th>
      </tr>
    </thead>

  {% if users|length > 1 %}
  {% for user in users %}
  {% if user.is_active == True %}
  <tbody>
      <tr>
        <td>{{ user.username}}</td>
        <td>{{ user.email}}</td>
        <td class="text-center">
          <a href="{% url 'deactivate_user' user.id %}"><div class="btn btn-secondary" onclick="return confirm('Are you sure?');">Deactivate</div></a>
          <a href="{% url 'delete_user' user.id %}"><div class="btn btn-danger" onclick="return confirm('Are you sure?');">Remove</div></a>
        </td>
      </tr>
    </tbody>

    {% endif %}
  {% endfor %}
  {% else %}
  <tbody>
    <tr>
      <td colspan="5">No user found</td>
    </tr>
  </tbody>
  {% endif %}
  </table>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
