{% extends 'base_index.html' %}
{% block title %}Sign up{% endblock %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card card-signin my-4 shadow-sm">
          <div class="card-body">
            <div class="card-title bg-white">
              <h4 class="text-info">Create new account</h4>
            </div>
            <br>
            <form class="form-signin" method="post">
              {% csrf_token %}
              <div class="row">
              <div class="col">
              <div class="form-group">
              <label for="username" class="text-secondary"><b>*Username</b></label>
              <input class="form-control" id="username" type="text" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
              <label for="first_name" class="text-secondary"><b>First Name</b> (optional)</label>
              <input class="form-control" id="first_name" type="text" name="first_name" placeholder="First Name">
              </div>
              <div class="form-group">
              <label for="last_name" class="text-secondary"><b>Last Name</b> (optional)</label>
              <input class="form-control" id="last_name" type="text" name="last_name" placeholder="Last Name">
              </div>
              </div>
              <div class="col">
              <div class="form-group">
              <label for="email" class="text-secondary"><b>*Email</b></label>
              <input class="form-control" id="email" type="email" name="email" placeholder="example@example.com" required>
              </div>
              <div class="form-group">
              <label for="password1" class="text-secondary"><b>*Password</b></label>
              <input class="form-control" id="password1" type="password" name="password1" placeholder="Password" required>
              </div>
              <div class="form-group">
              <label for="password2" class="text-secondary"><b>*Confirm Password</b></label>
              <input class="form-control" id="password2" type="password" name="password2" placeholder="Confirm Password" required>
              </div>
              </div>
              </div>
              {% if form.errors %}
                {% for field in form %}
                  {% for error in field.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endfor %}
              {% endif %}
              <p class="text-danger">* Indicates required field</p>
              <button class="btn btn-block btn-primary bg-info" id="btnFetch" type="submit">Sign up</button>
            </form>
            <br>
            <p class="text-center">Already have an account? <a href="{% url 'user_login' %}">Log in</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endblock %}
