{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container py-5">
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success">
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </div>
    </ul>
  {% endif %}
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <div class="card card-signin my-4 shadow-sm" >
        <div class="card-body">
          <div class="card-title bg-white">
            <h4 class="text-info text-center">Log in to your account</h4>
          </div>
          <br>
          <form method="POST">
            {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label class="control-label text-secondary" for="username"><b>Username</b></label>
                    <div class="controls">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label text-secondary" for="password"><b>Password</b></label>
                    <div class="controls">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                    </div>
                </div>
                {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible"><strong>{{form.errors}}</strong></div>
                {% endif %}
                <div class="form-group">
                    <div class="controls">
                        <button class="btn btn-md btn-primary btn-block bg-info" type="submit">Sign in</button>
                    </div>
                </div>
            </form>
            <p class="text-center">Don't have an account? <a href="{% url 'user_signup' %}">Create an account</a>.</p>
            <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
