{% extends "base.html" %}
{% block content %}

<div class="card-header sticky-top">
<div class="container">
<a href="{% url 'home' %}" class="btn bg-info text-white">Back</a>
</div>
</div>
<br>
<div class="container">
  <h5>Pending Approvals<h5>
    <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th>Email</th>
      </tr>
    </thead>

  {% for user in users %}
  {% if user.is_active == False %}

  <tbody>
      <tr>
        <td>{{ user.username}}</td>
        <td>{{ user.email}}</td>
        <td>
          <a href="{% url 'approve_user' user.id %}"><div class="btn btn-success">Approve</div></a>
        </td>
      </tr>


    </tbody>
    {% endif %}
    {% empty %}
          <tr>
            <td colspan="5">No pending requests</td>
          </tr>

  {% endfor %}

  </table>



</div>
<br>
<br>
<br>
<br>
{% endblock %}
